<!-- footer -->
<article class="footer">
    <!-- Button to top page -->
    <div><a href="#pagetop" class="footer--button"></a></div>
    <section class="footer--linksweb">
        <ul>
            <!-- First links colums-->
            <li><a href="https://adalab.es/">Articles</a></li>
            <li><a href="https://adalab.es/">Books</a></li>
            <li><a href="https://adalab.es/">Events</a></li>
            <li><a href="https://adalab.es/">Reasons</a></li>
            <li><a href="https://adalab.es/">Tips</a></li>
        </ul>
    </section>
    <section class="footer--linksweb">
        <ul>
            <!-- Second links colums-->
            <li><a href="https://twitter.com/Adalab_Digital">Twitter</a></li>
            <li><a href="https://www.instagram.com/adalab_digital/">Instagram</a></li>
            <li><a href="https://adalab.es/">Mastodon.social</a></li>
        </ul>
    </section>
    <!-- Copyright section-->
    <section class="footer--copyright">
        <span class="footer--copyright__1">&copy 2021</span>
        <span class="footer--copyright__2">we</span><span class="footer--copyright__heartlove"
            class="footer--copyright__2">❤︎</span><span class="footer--copyright__2">components</span>
    </section>
</article>