<article>
    <!--Navegation button a.k.a. burguer button-->
    <nav><a class="navegationbutton" href="https://adalab.es" title="Main menu"><img src="./assets/images/ico-menu.svg"
                alt="Main menu"/></a></nav>
    <!--Header section-->

    <section class="header" id="pagetop">
        <h1 class="header__maintitle">Anonymous proxy</h1>
        <p class="header__subtitle">In hac habitasse platea dictumst.</p>
        <a class="scrolldownbutton" href="./#reasonsto" title="Head to 3 Reasons To Purchase">
        <img src="./assets/images/ico-scroll-down.svg" alt="Main menu" />
        </a>
    </section>
</article>