<section>
    <main class="reasonsto">
        <h1 class="reasonsto--title">3 reasons to purchase</h1>
        <article class="reasonsto--paragraph">
            <h3 class="reasonsto--paragraph__title">Ut sed metus</h3>
            <p class="reasonsto--paragraph__text">Lorem ipsum dolor sit amet, consectetur.</p>
        </article>
        <article class="reasonsto--paragraph">
            <h3 class="reasonsto--paragraph__title">Curabitur ac erat</h3>
            <p class="reasonsto--paragraph__text">Mauris mattis urna quis lorem molestie.</p>
        </article>
        <article class="reasonsto--paragraph">
            <h3 class="reasonsto--paragraph__title">Morbi dictum</h3>
            <p class="reasonsto--paragraph__text">Aliquam in dolor et dolor tincidunt.</p>
        </article>
        <div class="reasonsto--morebutton">More reasons</div>
    </main>
</section>