// fonts
$font-title:'Roboto', sans-serif;
$font-text:'Roboto Slab', serif;

// colors
$colorbg-reasons: #c5e8fd;
$colorbg-none: #ffffff;
$colorbg-footer: #304268;
$color-buttons: #f26002;
$color-navbutton: #0271bc;
$color-whoweare: #8ccbea;