//Who are we section format
.intropar {
  &--pretitle {
    padding: 15px;
    font-family: $font-text;
    font-size: 14px;
    color: $color-whoweare;
    text-transform: capitalize;
  }
  &--title {
    width: 300px;
    padding: 15px;
    font-family: $font-title;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
  }
  &--paragraph {
    width: 100%;
    padding: 0px 15px 12px 15px;
    color: #4a4a4a;
    font-family: $font-text;
    font-size: 18px;
    line-height: 30px;
  }
}
//Button heading to about us format
.gotobutton {
  margin-top: 30px;
  margin-bottom: 50px;
  text-decoration: none;
  width: 76px;
  height: 45px;
  border: 2px $color-buttons solid;
  border-radius: 25px;
  transform: translateX(15px);
  color: $color-buttons;
  font-family: $font-title;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    animation: changecolor 10 2s;
  }
  @keyframes changecolor {
    from {
      background-color: $color-buttons;
      border-color: $color-buttons;
    }
    to {
      background-color: #00f3a6;
      border-color: #00f3a6;
    }
  }
}
//Responsive format
@media all and (min-width: 768px) {
  .intropar {
    padding: 39px;
    &--title {
      width: 600px;
      font-size: 26px;
    }
    &--paragraph {
      font-size: 20px;
    }
  }
  .gotobutton {
    width: 91px;
    transform: translate(50px, -40px);
  }
}
@media all and (min-width: 1280px) {
  .intropar {
    padding: 30px 275px 40px 275px;
    &--pretitle {
      font-size: 16px;
    }
    &--title {
      font-size: 32px;
      line-height: 45px;
    }
  }
  .gotobutton {
    width: 160px;
    transform: translate(290px, -30px);
  }
}
